<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>cln-vuejs 1x</title>

	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>	
	<div id="app" class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
				<button type="button" class="btn btn-success" v-on:click="setProjects('ui')">UiUx</button>
				<button type="button" class="btn btn-warning" v-on:click="setProjects('web')">web</button>

				<project-list :list="projects" />
			</div>
		</div>
	</div>

	<script type="text/template" id="project-tmpl">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ul class="list-group">
				<li class="list-group-item" v-for="item in list">
					<span class="badge">{{item.progress}}</span>
					<span>{{item.name}}</span>
					<p>{{item.description}}</p>
				</li>
			</ul>
		</div>		
	</script>

	<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="bower_components/vue/dist/vue.js" charset="utf-8"></script>
	<script src="app/app.js" charset="utf-8"></script>	
</body>
</html>