<template>
	<ul class="list-group">
		<li class="list-group-item" v-for="item in projects">
			<span class="badge" v-once>{{item.progress}}</span>
			<span v-once>{{item.name}}</span>
			<p v-once>{{item.description}}</p>
		</li>
	</ul>
</template>